<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<form th:method="GET" th:action="@{/admin/new}">
  <input type="submit" value="Add new user">
</form>
<form th:method="GET" th:action="@{/logout}">
  <input type="submit" value="Logout">
</form>
<br>
<table border="1">
  <tbody>
  <tr>
    <th>id</th>
    <th>Email</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Дата рождения</th>
    <th>Пароль</th>
    <th>Enabled</th>
    <th>Роль</th>
    <th></th>
    <th></th>
  </tr>
  <div th:each="user : ${users}">
    <tr>
      <td th:text="${user.id}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.first_name}"></td>
      <td th:text="${user.last_name}"></td>
      <td th:text="${user.dob}"></td>
      <td th:text="${user.password}"></td>
      <td th:text="${user.enabled}"></td>
      <td th:text="${user.roles}"></td>
      <td>
        <form th:method="GET" th:action="@{/admin/edit/{id}(id=${user.id})}">
          <input type="submit" value="edit">
        </form>
      </td>
      <td>
        <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
          <input type="submit" value="delete">
        </form>
      </td>
    </tr>
  </div>
  </tbody>
</table>
</body>
</html>